.groupContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.groupCell img {
    width: 100%;
}

.groupCell {
    margin: 2em .6em 0 .6em;
    // border: 2px solid #000;
    // padding: 2em 3em;
}

.groupCell h4 {
    background-color: darkgrey;
    color: #fff;
    width: 100%;
    opacity: .8;
}

.groupImgContain {
    position: relative;
}

.groupTitle {
    position: absolute;
    top: 80%;
}

