@import '../../variables.scss';


.layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    // grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-gap: 1.5em;
}


.userUI {
    position: relative;
    background-color: $loginBackground;
    // width: 35%;
    height: auto;
    // height: auto;

}

.assortmentUI {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.assortmentUI a {
    display: block;
    width: 100%;
    padding: 2em 0;
    border: 1px solid yellow;
    margin-top: 2em;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.assortmentUI a:last-child {
    margin-bottom: 55vh;
}

.information {
    display: grid;
    grid-template-areas:
    'bannerA leaderboard'
    'bannerB leaderboard';
    grid-gap: 1.5em;
    margin-top: 6em;
}

.bannerA {
    cursor: pointer;
    border: 1px solid #000;
    grid-area: bannerA;
    background-color: #686868;
    height: 5em;
}

.bannerB {
    cursor: pointer;
    border: 1px solid #000;
    // margin-top: 1.2em;
    grid-area: bannerB;
    background-color: #e8c859;
    height: 5em;

}

.leaderBoard {
    border: 1px solid #000;
    grid-area: leaderboard;
    color: blue;
    width: 80%;
}